{% if results.pages > 1 %}
{%
    set start = results.page - 2 > 0 ? results.page - 2 : 1
%}
{%
    set end = results.page + 2 <= results.pages ? results.page + 2 : results.pages
%}
<ul class="pagination">
    {% if results.page > 1 %}
        <li>
            <a class="pagination__item" href="?p=1{{ results.queryString }}">first</a>
        </li>
        <li>
            <a class="pagination__item" href="?p={{ results.page - 1 }}{{ results.queryString }}">previous</a>
        </li>
    {% endif %}

    {% for i in start..end %}
        <li>
            {% if results.page == i %}
                <span class="pagination__item"><strong>{{ i }}</strong></span>
            {% else %}
                <a class="pagination__item" href="?p={{ i }}{{ results.queryString }}">{{ i }}</a>
            {% endif %}
        </li>
    {% endfor %}

    {% if results.page < results.pages %}
        <li>
            <a class="pagination__item" href="?p={{ results.page + 1 }}{{ results.queryString }}">next</a>
        </li>
        <li>
            <a class="pagination__item" href="?p={{ results.pages }}{{ results.queryString }}">last</a>
        </li>
    {% endif %}
</ul>
{% endif %}
